.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 852px) {
    display: flex;
    align-self: flex-end;
    margin-bottom: 40px;
  }
}

.bar {
  border-bottom: solid 2px;
  border-color: #495e57;
  height: 10px;
  width: 40px;
  transition: transform 0.3s ease-in-out; /* Animation for sliding */
}

/* Styles for open menu */
.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0; /* Hide the middle bar when menu is open */
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
