.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 852px) {
    display: flex;
    align-self: flex-end;
    margin-bottom: 40px;
  }
}

.bar {
  border-bottom: solid 2px;
  border-color: #495e57;
  height: 10px;
  width: 40px;
  transition: transform 0.3s ease-in-out;
  caret-color: transparent;
}
