header {
  @media screen and (max-width: 852px) {
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

.logo {
  width: 259px;
  height: 70px;
  @media screen and (max-width: 1110px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 852px) {
    margin-bottom: 20px;
  }
}
