@import "../../fonts.css";

.navContainer {
  @media screen and (max-width: 852px) {
    width: 100%;
    transition: height 0.5s;
    height: 0;
  }
}

.navContainer.open {
  @media screen and (max-width: 852px) {
    height: 350px;
  }
}

.nav {
  @media screen and (max-width: 852px) {
    position: fixed;
    left: -100%;
    transition: left 0.7s ease-in-out, opacity 0.3s;
    width: 100%;
    opacity: 0;
  }
}

.nav.open {
  @media screen and (max-width: 852px) {
    position: absolute;
    left: 0;
    opacity: 1;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.nav-list a {
  text-decoration: none;
  color: #333333;
  font-size: 40px;
  font-family: "Markazi Text", serif;
  font-weight: 400;
}

.nav-list a:hover {
  color: #ee9972; /* Change the color when hovered */
}

.nav-list li {
  margin-left: 32px;

  @media screen and (max-width: 852px) {
    flex: 1 1 100%; /* Take up 100% width on small screens */
    margin: 0; /* Remove margins on small screens */
    text-align: center;
  }
}

.nav-list li:nth-child(1) {
  @media screen and (max-width: 1079px) {
    margin-left: 0;
  }
}
